body{
    background-color: #b9d08b;
}
p{
    background-color: aqua;
    font-size: 20px;
    font-family: "Comic Sans MS",system-ui;
}

.class1{
    background-color: #FA9494;
    font-size: 12px;
    font-family: "Arial Black",system-ui;
    color: #f9fcf9;
}

/*#signup{
    background-color: brown
}*/

.btn1{
    background-color: #C98474;
    font-size: 20px;
}
.btn1:hover{
    background-color: #c72c06;
    font-size: 25px;
}

/*
.btnFont{
    font-family: "Droid Sans", system-ui;
}*/

